<div class="container">
  <h5>ノータイム</h5>
  <%= link_to "index" , root_path , class: "btn btn-info" %>
  <%= link_to "index2" , welcome_index2_path , class: "btn btn-default" %>
  <%= link_to "index3" , welcome_index3_path , class: "btn btn-warning" %>
  <h5> + 1s seconds<h5>
  <%= link_to "index" , root_path({sleeptime: 1}) , class: "btn btn-info" %>
  <%= link_to "index2" , welcome_index2_path({sleeptime: 1}) , class: "btn btn-default" %>
  <%= link_to "index3" , welcome_index3_path({sleeptime: 1}) , class: "btn btn-warning" %>
  <h5> + 5s seconds<h5>
  <%= link_to "index" , root_path({sleeptime: 5}) , class: "btn btn-info" %>
  <%= link_to "index2" , welcome_index2_path({sleeptime: 5}) , class: "btn btn-default" %>
  <%= link_to "index3" , welcome_index3_path({sleeptime: 5}) , class: "btn btn-warning" %>
</div>