<!DOCTYPE html>
<html id="animated" lang="ja">
<head>
  <title>Pagtran Rails4 rails4のturbolinks andanimation.css  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags({
        :title => ''  ,
        :site => Pagtran ,
        :description => "rails4のturbolinksとanimation.cssを使った画面遷移 Pagtranの名前は適当" ,
        :keywords => 'animation.css rails4 rails ',
        :open_graph => {
           :title => 'Pagtran rails4のturbolinksとanimation.cssを使った画面遷移',
           :description => "rails4でturbolinksを用いて頑張りました。" ,
           :type => 'article' ,
           :url   => root_url ,
        },
       :viewport => "width=device-width, initial-scale=1.0" ,
       :reverse => true
    })
  %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid animated">
      <div class="navbar-header">
        <a class="navbar-brand" href=".">Pagtran</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <%= link_to "to github" , "https://github.com/yamitake/pagtran" , target: "_blank" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <h3>
          rails turbolinks + Animate.css Page transition.
        </h3>
        <p>
          このページはrailsのturbolinksを用いた画面遷移とAnimate.cssを合わせて使ったテストページになります。
          エフェクトを選択し、ボタンで画面遷移をすると試す事ができます。
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <%= render "effect_selecter" %>
      <%= render "links" %>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
