<!DOCTYPE html>
<html id="animated" lang="ja">
<head>
  <title>Pagtran Rails4 rails4のturbolinks andanimation.css  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags({
        :title => ''  ,
        :site => Pagtran ,
        :description => "rails4のturbolinksとanimation.cssを使った画面遷移 Pagtranの名前は適当" ,
        :keywords => 'animation.css rails4 rails ',
        :open_graph => {
           :title => 'Pagtran rails4のturbolinksとanimation.cssを使った画面遷移',
           :description => "rails4でturbolinksを用いて頑張りました。" ,
           :type => 'article' ,
           :url   => root_url ,
        },
       :viewport => "width=device-width, initial-scale=1.0" ,
       :reverse => true
    })
  %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid animated">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="">Pagtran</a>
      </div>
    </div>
  </nav>




<%= render "effect_selecter" %>
<%= render "links" %>

<%= yield %>

</body>
</html>
